.favour {
  width: 320px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.favour img,
.favour #placeholderImg {
  height: 250px;
  width: inherit;
  max-width: 600px;
}
.favour h2 {
  text-align: left;
  margin-bottom: 25px;
  padding: 0px 20px;
}
.favour article {
  margin-top: 30px;
}
.favour p {
  font-size: 18px;
  text-align: justify;
  padding: 0px 20px;
}

#placeholderImg {
  background-color: darkgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  height: 466.6666666667px;
  font-size: 24px;
}

#wrapper {
  gap: 30px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.no_dishes {
  position: relative;
  top: 70px;
}

#open_modal {
  position: fixed;
  z-index: 111;
  top: 10px;
  right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 8px;
}

#add_dish {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .favour {
    width: 90vw;
    margin-left: 20px;
    margin-right: 20px;
  }
  .favour img,
.favour #placeholderImg {
    height: 60vw;
  }

  #open_modal {
    top: 16px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .favour {
    width: 75vw;
  }
  .favour img,
.favour #placeholderImg {
    height: 50vw;
  }
}
@media screen and (min-width: 993px) {
  #twoRecipeOnPageStyles {
    width: 37vw;
    max-width: 600px;
  }
  #twoRecipeOnPageStyles img,
#twoRecipeOnPageStyles #placeholderImg {
    height: 24.6666666667vw;
    max-height: 400px;
  }
}