$blockWidth: 320px;
$imgHeight: 250px;

.favour {
    width: $blockWidth;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    img, #placeholderImg {
        height: $imgHeight;
        width: inherit;
        max-width: 600px;
      };

      h2 {
        text-align: left;
        margin-bottom: 25px;
        padding: 0px 20px;

     }
      article {
        margin-top: 30px;
      };

      p {
      font-size: 18px;
      text-align: justify;
      padding: 0px 20px;
      }
    
  }

#placeholderImg {
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 24px
}
  
#wrapper {
  gap: 30px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.no_dishes {
  position: relative;
  top: 70px;
}

#open_modal {
  position: fixed;
  z-index: 111;
  top: 10px;
  right: 20px;
  width: fit-content;
  padding: 2px 8px;
}

#add_dish {
  width: 100%;
  
}

@media screen and (max-width: 576px){
  .favour {
    width: 90vw;
    margin-left: 20px;
    margin-right: 20px;
    
    img, #placeholderImg {
      height: calc(90vw*2/3);
    }
  }
  #open_modal {
    top: 16px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .favour {
    width: 75vw;

    img, #placeholderImg {
      height: calc(75vw*2/3);
    }
  }
}

@media screen and (min-width: 993px) {
  #twoRecipeOnPageStyles {
    width: 37vw;
    max-width: 600px;
    img, #placeholderImg {
      height: calc(37vw*2/3);
      max-height: 400px;
    }
  }
}