$blockWidth: 320px;
$imgHeight: 250px;

.favour {
    width: $blockWidth;
    margin-top: 100px;

    img {
        height: $imgHeight;
        width: inherit;
      };

      h2 {
        text-align: left;
        margin-bottom: 25px;
        padding: 0px 20px;

     }
      article {
        margin: 55px 0px 70px;
      };

      p {
      font-size: 18px;
      text-align: justify;
      height: 400px;
      overflow-y: scroll;
      padding: 0px 20px;
      }
    
  }

#placeholderImg {
  width: $blockWidth;
  height: $imgHeight;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
  
.no_dishes {
  position: relative;
  top: 70px;
}

#open_modal {
  position: fixed;
  z-index: 111;
  top: 6px;
  right: 20px;
  width: fit-content;
  padding: 2px 8px;
}

#add_dish {
  width: 100%;
  
}